@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}

.dash-content .modal-content {

    top: 50%;
    width: 420px;
    padding: 20px 30px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0, 15);
    border-radius: 8px;
    border: none;
    align-content: center;
    justify-items: center;
}

.dash-content .modal-content .modal-header h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    color: #333333;
    margin-bottom: 16px;
}

.dash-content .modal-content .simpan-btn {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #2F80ED;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.dash-content .modal-content .simpan-btn:hover {
    background-color: #1366D6;
    transition: 0.4s;
}

.dash-content .modal-content .kembali-btn:hover {
    background-color: rgba(47, 128, 237, 0.16);
    transition: 0.4s;
}

.dash-content .modal-content .kembali-btn {
    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    outline: none;
    color: #2F80ED;
}

.dash-content .modal-content input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #E0E0E0;
    outline: none;
    margin-bottom: 16px;
    padding-left: 16px;
}

iframe {
    display: block;
    width: 100%;
}