@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #333333;
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    padding: 20px 30px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0, 15);
    border-radius: 8px;
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    margin-bottom: 24px;
}

.popup .form .simpan-btn {
    width: 100%;
    height: 52px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: #2F80ED;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.popup .form .simpan-btn:hover {
    background-color: #1366D6;
    transition: 0.4s;
}

.popup .form .kembali-btn:hover {
    background-color: rgba(47, 128, 237, 0.16);
    transition: 0.4s;
}

.popup .form .kembali-btn {
    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    outline: none;
    color: #2F80ED;

}


/* .popup .form label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #4F4F4F;
} */

.popup .form input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    outline: none;
    margin-bottom: 16px;
    padding-left: 16px;
}



/* .popup .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    color: black;
    text-align: center;
    border-radius: 4px;
    background-color: #3a7bd5;
    cursor: pointer;
}

.popup .close-btn i {
    color: #FFFFFF;
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    align-content: center;
} */