* {
  font-family: 'Inter', sans-serif;
}

.login {
  height: 100vh;
}

.reset-password {
  height: 100vh;
}

.header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #333333;
}

.reset h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  align-items: center;
  color: #333333;
}

.reset p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 52px;
  text-align: center;
  align-items: center;
  color: #828282;
}

.new-password h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  align-items: center;
  color: #333333;
}

.new-password p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 52px;
  text-align: center;
  align-items: center;
  color: #828282;
}

.header p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 52px;

  display: flex;
  align-items: center;
  color: #828282;
}

.login-form label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-top: 24px;

  color: #4F4F4F;
}

.new-password-form label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-top: 24px;

  color: #4F4F4F;
}

.login-form input {
  height: 52px;
  border-radius: 8px;
}

.new-password-form input {
  height: 52px;
  border-radius: 8px;
}

.reset-form input {
  text-align: center;
  height: 52px;
  border-radius: 8px;
}

.login-form a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin-top: 16px;
  color: #828282;
}

a:hover {
  color: #1366D6;
  transition: 0.4s;
}

.login-form .signin {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  background: #2F80ED;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.signin:hover {
  background-color: #1366D6;
  transition: 0.4s;
}

.reset-form .resetBtn {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  background: #2F80ED;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.resetBtn:hover {
  background-color: #1366D6;
  transition: 0.4s;
}

.new-password-form .confirmBtn {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  background: #2F80ED;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.confirmBtn:hover {
  background-color: #1366D6;
  transition: 0.4s;
}

.new-password {
  justify-content: center;
  align-items: center;
}